<h1>Editing winetasted</h1>

<%= render "form", winetasted: @winetasted %>

<br>

<div>
  <%= link_to "Show this winetasted", @winetasted %> |
  <%= link_to "Back to winetasteds", winetasteds_path %>
</div>
