<h1>New winemaker</h1>
<div class="row">
  <div class="col-4">
    
  </div>
</div>
<%= render "form", winemaker: @winemaker %>
<br>

<div>
  <%= link_to "Back to winemakers", winemakers_path %>
</div>
