<h1>New winemaker winetasted</h1>
<h1> winemaker_winetasted NEW</h1>
<%= render "form", winemaker_winetasted: @winemaker_winetasted %>

<br>

<div>
  <%= link_to "Back to winemaker winetasteds", winemaker_winetasteds_path %>
</div>
